@media screen and (max-width: 780px) {
  .container {
    width: 700px;
    
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 400px;
  }
  .row {
    display: block;
  }
  .lesson .col {
    width:100%;
  }
  .steps .col {
    width:100%;
  }
  .why-us .col-left {
    width:100%;
}

.why-us .col-right {
    width:100%;
}
.lessons .col {
    width: 100%;
}
.card {
    margin-bottom: 30px;
}
}